/* * {
  background: #000;
  font-family: monospace;
} */

#root {
  box-sizing: border-box;
  /* background: black; */
  overflow-x: hidden;
}

.size-5[type="checkbox"]:checked {
  accent-color: #343bff;
}
